.infobox {
	display: block;
	margin-top: 7px;
	padding: 3px 3px 3px 28px;
	border: 1px solid #fff;
	border-radius: 4px;
	background: #000;
	text-align: left;
}
.infobox:hover {
	text-decoration: none !important;
}
.infobox:link:hover {
	text-decoration: underline !important;
}

.infobox.serious {
	border-color: #7b0008;
	background: #fbd2d4 url('../images/check_serious.png') no-repeat 2px center;
	color: #d33232;
}
.infobox.serious a {
	color: #d33232;
}

.infobox.warning {
	border-color: #ca993a;
	background: #fff8c4 url('../images/check_warning.png') no-repeat 2px center;
	color: #94581d;
}
.infobox.warning a {
	color: #94581d;
}

.infobox.info {
	border-color: #b9e7f9;
	background: #e3f7fc url('../images/check_info.png') no-repeat 2px center;
	color: #3c4a69;
}
.infobox.info a {
	color: #3c4a69;
}

/* collapsed styles 
-------------------------------------------*/

.cms-menu.collapsed .cms-login-status {
	height: auto;
}

.cms-menu.collapsed .logout-link {
	float: none;
}

.cms-menu.collapsed .infobox {
	overflow-x: hidden;
	margin: 5px 0;
	padding: 0 10px;
	background-position: center center;
	white-space: nowrap;
	text-indent: 20px;
}
